<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        name="title"
        matInput
        [ngModel]="post?.title"
        type="text"
        required
        #title="ngModel"
        placeholder="Post Title"
      />
      <mat-error *ngIf="title.invalid">Enter something, will ya ?</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        name="content"
        matInput
        rows="6"
        [ngModel]="post?.content"
        required
        #content="ngModel"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >No.. seriously.. type anything</mat-error
      >
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">Save</button>
  </form>
</mat-card>
